// home.scss

.l-header {
    width: 100%;
    background-color: beige;

    .l-header__inner-pc {
        width: 100%;
        background-color: aqua;
        // padding-top: 0.3rem;
        // padding-bottom: 0.3rem;
        padding-left: 1.5rem;
        // padding-right: 1.5rem;
        display: inline-flex;
        align-items: center;
        justify-content: space-between;
        position: fixed;
    
        .title {
            font-size:25px;
            color: coral;
            margin-right: 1rem;
            white-space: nowrap;

            @media (max-width: 870px) {
                font-size: 16px;
            }
            @media (max-width: 777px) {
                font-size: 14px;
            }
        }
        .navarea {
            background-color: bisque;
            display: inline-flex;
            align-items: center; 
            
            ul + ul {
                padding-top: 10px;
            }

            ul {
                margin-left: auto;
                margin-right: 20px;
                display: inline-flex;
                gap: 20px;
            }

            .nav-menu {
                display: flex;
                flex-direction: column;
                justify-content:flex-end ;

                li {
                    @media (max-width: 885px) {
                        font-size: 14px;
                    }
                }
                li {
                    @media (max-width: 785px) {
                        font-size: 12px;
                    }
                }
            }
            .nav-cta01 {
                display: inline-flex;

                a {
                    text-align: center;
                    text-decoration-line: none;
                    color: #fff;
                    padding-left: 20px;
                    padding-right: 20px;
                    padding-bottom: 1rem;
                    letter-spacing: 0.2rem;
                    font-size: 16px;

                    @media (max-width: 738px) {
                        font-size: 14px;
                        padding-left: 10px;
                        padding-right: 10px;
                    }
                }
                .document {
                    background-color: chocolate;
                }
                .contact {
                    background-color: cadetblue;
                }
            }
        }
    }
}